@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.gradient {
  font-weight: bold;
  background: linear-gradient(45deg, #97c4b6, #c8e0d8);
  -webkit-background-clip: text;
  color: transparent;
}


.hollow {
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  /* Define the font outline width and color */
  color: transparent;
  /* Make the font interior transparent */
}

@keyframes underline-slide {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes underline-slide {
  from {
    transform: scaleX(0);
    transform-origin: bottom left;
  }

  to {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.underline-animation::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  /* Adjust the height for the thickness of the underline */
  background: currentColor;
  /* Use the text color for the underline */
  animation: underline-slide 1s ease-in-out forwards;
  /* Adjust duration and timing function as needed */
  color: black;
  margin-top: 0px;
}

/* If you're using JIT mode and want to apply the animation only at a certain breakpoint */
@media (min-width: 768px) {
  .md\:underline-animation::after {
    animation: underline-slide 4s ease-in-out forwards;
  }
}

.arc-background {
  border-bottom-left-radius: 100% 7%;
}

.dashed-bg {
  box-sizing: border-box;
  clip-path: polygon(0% 100%, 80% 100%, 100% 80%, 100% 20%, 100% 0, 20% 0%, 0% 0%, 0% 20%);
  padding-top: 15px;
  padding-left: 25px;
}